<div id="Component">
    <header>
        <app-menu></app-menu>
        <span id="pageTitle">{{pageTitle}}</span> 
        <span> | </span>
        <a routerLink="/user/create" class="btn btn-primary">Create New</a>
    </header>
    <table class="table table-striped table-sm ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th type="Password">Password</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>IsReviewer</th>
                <th>IsAdmin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.password }}</td>
                <td>{{ u.firstname }}</td>
                <td>{{ u.lastname }}</td>
                <td>{{ u.phone }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.isReviewer }}</td>
                <td>{{ u.isAdmin }}</td>
                <td>
                    <a routerLink="/user/detail/{{u.id}}" class="btn btn-primary">Detail</a>
                    <span> | </span>
                    <a routerLink="/user/change/{{u.id}}" class="btn btn-primary">Change</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
